<app-header></app-header>
<div class="filter">
    <label>Filtrar por género:</label>
    <select [(ngModel)]="selectedGenre" (change)="onPageChange(1)">
      <option value="">Todos</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
    </select>
  </div>
<app-sortby (sortChanged)="onSortChanged($event)"></app-sortby>  
<app-cards [movies]="movies"></app-cards>
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (onPageChange)="onPageChange($event)"></app-pagination>
<app-footer></app-footer>
