<div>
    <h1>Movie Challenge</h1>
  
    <label>Filtrar por género:</label>
    <select [(ngModel)]="selectedGenre">
      <option value="">Todos</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
    </select>
  
    <div class="movies-container">
      <div class="movie-card" *ngFor="let movie of filterByGenre()">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }} Poster">
        <div class="movie-details">
          <h5>{{ movie.title }}</h5>
          <p>{{ movie.release_date | date: 'yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
  