<!-- pagination.component.html -->
<div class="pagination-container">
  <button [disabled]="currentPage === 1" (click)="onPreviousPage()">Anterior</button>
  
  <div class="page-numbers">
    <ng-container *ngFor="let page of getPagesArray()">
      <button *ngIf="shouldDisplayPage(page)" [class.active]="page === currentPage" (click)="onPageChange.emit(page)">{{ page }}</button>
    </ng-container>
  </div>
  
  <button [disabled]="currentPage === totalPages" (click)="onNextPage()">Siguiente</button>
</div>
